/* General Styling */
.Home-Container {
    font-size: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 0.8s ease-in-out;
}

/* Selected Page Styling */


/* Info Post Styling */
.Info-Post {
    display: flex
;
    position: absolute;
    gap: 28px;
    top: 36%;
    font-size: larger;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: red;
}




/* Image Slider */
.Slider-Container {
    display: flex;
    width: 100vw;
    height: 61vh;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.Slider-Container img {
    width: 100%;
    object-fit: fill;
    height: 66vh;
    object-fit: cover;
  
}

.Slider-Container button {
   
    color: white;
    background-color: #ff4e00a8;
    width: 21vh;
    padding: 10px;
    border-radius: 22px;
    cursor: pointer;
    user-select: none;
    border: 3px #ff8105 solid;
}
.Slider-Container button:hover {
    background-color: #ff8105;
    border: 3px #ff4e00 solid;
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out;
}


.Popular-Container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Card-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}





















@media (max-width: 640px), (max-width: 280px) {
    .Middle-Header {
        flex-direction: column;
    }
    .Right-Header {
        flex-direction: column-reverse;
    }
    .Bottom-Header {
        font-size: 12px;
        gap: 11px;
    }
    .Info-Post{
        font-size: 20px;
        top: 24%;
    }
}

